<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GITHUB LOGIN</title>
  <link href="favicon.png" rel="shortcut icon">
  <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" rel="stylesheet">
  <link href="/stylesheets/angular-toastr.css" rel="stylesheet">
  <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> GITHUB LOGIN</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/#/">Home</a></li>
    <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>

<div ui-view></div>

<!-- Third-party Libraries -->
<script src="/vendor/angular.js"></script>
<script src="/vendor/angular-animate.js"></script>
<script src="/vendor/angular-messages.js"></script>
<script src="/vendor/angular-resource.js"></script>
<script src="/vendor/angular-sanitize.js"></script>
<script src="/vendor/angular-ui-router.js"></script>
<script src="/vendor/angular-toastr.tpls.js"></script>
<script src="/vendor/satellizer.js"></script>

<!-- Application Code -->
<script src="/app.js"></script>
<script src="/directives/passwordStrength.js"></script>
<script src="/directives/passwordMatch.js"></script>
<script src="/controllers/home.js"></script>
<script src="/controllers/login.js"></script>
<script src="/controllers/signup.js"></script>
<script src="/controllers/logout.js"></script>
<script src="/controllers/profile.js"></script>
<script src="/controllers/navbar.js"></script>
<script src="/services/account.js"></script>
</body>
</html>
